/*!
 * Guia do Instagram v1.0.9 (https://guiadoinstagram.midiaclub.app/)
 * Copyright 2019-2019 Equipe MIDIA CLUP APP
 * Copyright 2014-2019 PEQUI Soluções.
 */
@viewport{
  zoom: 1.0;
  width: device-width;
}
  
@-ms-viewport {
  width: device-width; 
}

*::before,
*::after {
  box-sizing: border-box; 
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; 
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5;
  color: #404040;
  text-align: left;
  background-color: #fafafa;
  overflow-x: hidden;
  min-width: 100%; 
}

[tabindex="-1"]:focus {
  outline: 0 !important; 
}

@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 3rem;
  letter-spacing: 4px;
}

h2 {
  font-family: 'Russo One', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.h2-plus {
  font-size: 2.78rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  color: #404040;
  text-shadow: 1px 2px 3px #000;
}

.h3-mag {
  color: #FE4462;
  text-align: center;
  text-shadow: 3px 0px 6px rgba(254, 68, 98, 0.62);
  font-size: 1.5rem;
  font-weight: 400;
}

.div-shadow {
  -webkit-box-shadow: 5px 0px 20px 5px rgba(0, 0, 0, 0.45);
  -moz-box-shadow:5px 0px 20px 5px rgba(0, 0, 0, 0.45);
  box-shadow:5px 0px 20px 5px rgba(0, 0, 0, 0.45);
}

.txt-white {
  color: #fff !important; 
}

.txt-shadow {
  text-shadow: 1px 2px 3px #000;
}

.img-bg1 {
  background-size: cover;
  background-repeat: repeat;
  background-image: url(img/bg1.jpg);
} 

.img-width-fill {
  width: -webkit-fill-available;
}

.img1 {
  max-width: 550px;
}

.img4 {
  display: -webkit-box;
  max-width: 320px;
  margin-left: 30%;
}

.block1 h1.text-uppercase b span,
.block2 p.lead span {
  color: #FE4462;
}

.sec3 {
  background: #652e82;
  background: -moz-linear-gradient(left, #652e82 0%, #823ba8 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #652e82), color-stop(100%, #823ba8));
  background: -webkit-linear-gradient(left, #652e82 0%, #823ba8 100%);
  background: -o-linear-gradient(left, #652e82 0%, #823ba8 100%);
  background: -ms-linear-gradient(left, #652e82 0%, #823ba8 100%);
  background: linear-gradient(to right, #652e82 0%, #823ba8 100%);
  margin-top: -1.38rem;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 5px 0px 20px 5px rgba(0, 0, 0, 0.45);
  -moz-box-shadow:5px 0px 20px 5px rgba(0, 0, 0, 0.45);
  box-shadow:5px 0px 20px 5px rgba(0, 0, 0, 0.45);
}

.block8 p {
  font-size: 1.1rem;
}

.block9 {
  margin-top: 2vh;
  padding-right: 0;
  padding-left: 0;
}

.block9 span {
  font-weight: bold;
}

.block11 {
  margin-top: 6vh;
  padding-left: 0;
}

.i-fa-purple {
  color: #652E82!important;
}

.list-group-item {
  background-color: #fafafa;
  padding-left: 0;
}

.sec6 {
  margin-top: -5vh;
  padding-top: 4.5rem;
}
.sec6,
.sec10 {
  background-size: cover;
  background-repeat: repeat;
  background-image: url(img/bg2.jpg);
  color: #fff !important;
  -webkit-box-shadow: 5px 0px 20px 5px rgba(0, 0, 0, 0.45);
  -moz-box-shadow:5px 0px 20px 5px rgba(0, 0, 0, 0.45);
  box-shadow:5px 0px 20px 5px rgba(0, 0, 0, 0.45);
  padding-top: 5rem;
}

.list-group-item:last-child {
  background-color: transparent;
}

.block12 p,
.block18 p {
  font-size: 1.5rem;
  font-weight: 400;
}

.block12 h3,
.block18 h3 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.block13 h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}

.sec8 {
  background: #652e82;
  background: -moz-linear-gradient(left, #652e82 0%, #823ba8 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #652e82), color-stop(100%, #823ba8));
  background: -webkit-linear-gradient(left, #652e82 0%, #823ba8 100%);
  background: -o-linear-gradient(left, #652e82 0%, #823ba8 100%);
  background: -ms-linear-gradient(left, #652e82 0%, #823ba8 100%);
  background: linear-gradient(to right, #652e82 0%, #823ba8 100%);
  color: #fff;
  position: relative;
  -webkit-box-shadow: 5px 0px 20px 5px rgba(0, 0, 0, 0.45);
  -moz-box-shadow:5px 0px 20px 5px rgba(0, 0, 0, 0.45);
  box-shadow:5px 0px 20px 5px rgba(0, 0, 0, 0.45);
}

.btn-blue-grad {
  display: inline-block;
  font-weight: bold;
  border: none;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  background: #3aeeee;
  background: -moz-linear-gradient(top, #3aeeee 0%, #4161cb 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #3aeeee), color-stop(100%, #4161cb));
  background: -webkit-linear-gradient(top, #3aeeee 0%, #4161cb 100%);
  background: -o-linear-gradient(top, #3aeeee 0%, #4161cb 100%);
  background: -ms-linear-gradient(top, #3aeeee 0%, #4161cb 100%);
  background: linear-gradient(to bottom, #3aeeee 0%, #4161cb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3aeeee', endColorstr='#4161cb', GradientType=0 );
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
  border-radius: 50px;
  min-width: 300px;
  text-shadow: 1px 2px 3px #000;
  margin-top: 1.5rem;
}

.block13 h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.sec9 {
  margin-top: 2.5rem;
}

.sec10 {
  position: relative;
  z-index: 1;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.sec11 {
  margin-top: 2.25rem;
}

.block19 p {
  font-size: 1.5rem;
  font-weight: 400;
}

.block20 a {
  margin-top: 0;
}

a:hover {
  text-decoration: none;
  color: #fefefe;
}
.img5 {
  position: relative;
  z-index: 1;
}
.img7 {
  z-index: 10;
  display: -webkit-box;
  position: relative;
  top: 25px;
}

.sec13 {
  margin-top: -6vh;
  color: #fff;
  background: #000;
  -webkit-box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.sec13 h3 {
  color: #FE4462;
  text-transform: uppercase;
  font-size: 20px;
}

.div-ajust3 {
  margin-top: -3vh;
}

.div-ajust6 {
  margin-top: -6vh;
}

.div-ajust10 {
  margin-top: -10vh;
}

.div-ajust11 {
  margin-top: -11vh;
}

@media (min-width: 425px) {
  .div-top {
    height: 695px;
  }
}

@media (max-width: 330px) {
  h1 {
    font-size: 2.2em!important;
  }
  .h2-plus {
    font-size: 1.5rem;
  }
  .sec6 {
    padding: 5px!important;
  }
  .sec8 {
    margin-top: -4.5rem!important;
  }
  .sec3, .sec4,
  .sec7, .sec7 div.row.col-xl-10.mx-auto,
  .sec8, .sec8 div.row.col-xl-10.mx-auto,
  .sec9, .sec9 div.row.col-xl-10.mx-auto,
  .sec10, .sec10 div.row.col-xl-10.mx-auto,
  .sec11, .sec11 div.row.col-xl-10.mx-auto,
  .sec13, .sec14 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-12.col-xl-10.mx-auto.p-3.text-white.text-md-center.text-center.block8 {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .sec14 div.col-md-12.my-1.text-center {
    font-size: 14px;
    padding: 0 10px;
  }
  .sec3 .row,
  .sec6 .row,
  .sec14 .row {
    margin: 0;
    width: 100%;
  }
  .block5 {
    margin-top: 1rem!important;
  }
  .block5 h2 {
    font-weight: 600;
  }
  .block10 {
    margin-left: -25px;
  }
  .sec5 {
    padding-left: 2.5px;
  }
  .block11 {
    padding-top: 1vh;
    padding-right: 0;
    padding-left: 15px;
  }
  .block13 {
    margin-left: -5px!important;
  }
  .block13 h3 {
    margin-left: 1rem;
  }
  .img4 {
    max-width: 300px;
  }
  .img5 {
    width: 300px;
    margin-left: -7.5px;
  }
  .img7 {
    margin-left: -2px!important;
  }
  .block15 a,
  .block20 a {
    margin-left: -5px;
  }
  .block20 {
    margin-top: -11vh;
  }
}

@media (min-width: 330px) and (max-width: 379.98px) {
  .img5 {
    margin-left: -25px;
  }
  .sec3, .sec4, .sec8, .sec9, .sec10, .sec11, .sec13, .sec14 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-12.col-xl-10.mx-auto.p-3.text-white.text-md-center.text-center.block8,
  .block18, .block19 {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .h2-plus {
    font-size: 1.6rem;
  }
  .block5 {
    margin-top: 1.5rem;
  }
  .block5 h2 {
    font-weight: 600;
  }
  .block20 {
    margin-top: -9vh;
  }
  .sec3 .row,
  .sec14 .row {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 380px) {
  h2 {
    font-size: 2rem;
  }
  .img4 {
    margin-left: -4%!important;
  }  
  .block12 p {
    font-size: 1.25rem;
    font-weight: 300;
  }
}
@media (min-width: 380px) and (max-width: 429.98px) {
  .img4 {
    margin-left: 0!important;
  }
  .img5 {
    margin-left: -8%;
  }
  .img6 {
    margin-top: 0;
  }
  .img7 {
    top: 30px;
  }
  .sec3, .sec3 .col-md-12.col-xl-10.mx-auto,
  .container.sec9,
  .h2-plus,
  .sec10, .block18,
  .sec11, .block19,
  .sec13 {
    padding-left: 0;
    padding-right: 0;
  }
  .sec3 .row {
    margin-right: 0;
    margin-left: 0;
  }
  .h2-plus {
    font-size: 2rem;
  }
  .block5 {
    margin-top: 1rem;
  }
}
@media (max-width: 429.98px) {
  .img-bg1 {
    margin-top: -2px;
    background-image: url(img/bg1-mob.jpg);
  }
  .img4 {
    margin-left: 0!important;
  }
  .img5 {
    max-width: 115%;
  }
  .sec8 {
    margin-top: -5vh!important;
  }
}
@media (min-width: 430px) and (max-width: 575.98px) {
  .sec8 {
    margin-top: -5vh;
  }
  .block5 {
    margin-top: 3rem;
  }
  .block20 {
    margin-top: -8vh;
  }
  .h2-plus {
    font-size: 2.6rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) { 
  h1 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.5rem;
  }
  .block3 {
    margin-top: -3.5vh;
    padding-left: 20px;
  }
  .block4,
  .block10,
  .block14 {
    margin-top: -3vh;
  }
  .block6 {
    margin-top: 3vh;
  }
  .block7 {
    margin-top: -1.5vh;
  }
  .block11 {
    margin-top: 0;
  }
  .block13 {
    max-width: 100%!important;
  }
  .img4 {
    margin-left: 10%;
  }
  .img5 {
    min-width: 100%;
  }
  .img8 {
    width: 100%;
    position: relative;
    left: 3%;
  }
  .sec6 {
    padding-top: 2vh;
  }
  .sec9 {
    margin-top: 1.5rem;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .div-top {
    height: -webkit-fill-available;
  }
  .img1 {
    margin-top: 2vh;
  }
  .img2 {
    width: 80%;
  }
  .block5 {
    margin-top: 10vh;
  }
  .block6 {
    margin-top: 3vh;
  }
  .block11 {
    padding-left: 15px;
  }
  .sec6 {
    padding-top: 8vh;
    padding-bottom: 2vh;
  }
  .animate-in-right-woman {
    transition: all 1.0s ease-out;
    position: relative;
    opacity: 1;
    left: -23%; }
    .animate-in-right-woman.out-of-viewport {
      opacity: 0;
      left: -18%; }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .sec8 {
    margin-top: -2.5rem;
  }
  .sec12 .row {
    padding-left: 10px;
  }
  .block5 {
    margin-top: 2rem;
  }
  .h2-plus {
    font-size: 2.3rem;
  }
  .block20 {
    margin-top: -7.5vh;
  }
}

@media (min-width: 704px) and (max-width:711px) {
  .sec2 {
    margin-top: 6vh;
  }
  .block5 {
    margin-top: 5vh;
  }
}

@media (min-width: 704px) and (max-width: 767.98px) {
  .div-top {
    max-height: 798px;
  }
  .img1 {
    margin-top: 2vh;
  }
}

@media (min-width: 712px) and (max-width: 767.98px) {
  .block5 {
    margin-top: 2vh;
  }
}
@media (max-width: 767.98px) {
  div.col-xl-10.txt-white.txt-shadow.pt-5.mx-auto {
    padding-top: 1rem !important;
  }
  div.col-md-12.my-1.text-center {
    margin-top: 0!important;
    margin-bottom: 0!important;
  }
  .sec6 {
    margin-top: 2vh;
    padding-top: 1rem;
  }
  .sec10 {
    margin-top: -2vh;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
  }
  .sec11,
  .sec12 {
    margin-top: 1rem;
  }
  .sec13 h3 {
    font-size: 16px;
  }
  .block1,
  .block2 {
    padding-left: 20px;
  }
  .block11 {
    margin-top: 1vh;
  }
  .block13 {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .block22 {
    padding-top: 6vh;
    text-align: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .img1 {
    margin-top: 3vh;
  }
  .img2 {
    width: 100%;
  }
  .img3 {
    margin-top: 6vh;
  }
  .img4 {
    margin-left: 5%;
  } 
  .img8 {
    width: 600px;
    margin-top: 1vh;
    margin-left: 2rem;
  }
  .div-top {
    max-height: 540px;
  }
  .block5 {
    margin-top: 4vh; 
  }
  .block11 {
    margin-top: 1vh;
  }
  .block13 {
    padding-left: 15px;
    right: -5%;
    padding-top: 1.5rem;
  }
  .block13 h3 {
    padding-top: 0;
    margin-top: 0;
  }
  .block14 {
    margin-top: 1vh;
  }
  .block20 {
    margin-top: -6.5vh;
  }
  .block22 {
    margin-top: 6vh;
  }
}

@media (min-width: 768px) and (max-width: 799.98px) {
  h2 {
    font-size: 2.7rem;
  }
  .h2-plus {
    font-size: 2.5rem;
  }
  .block16 {
    margin-top: 2vh;
    padding: 0;
  }
  .block20 {
    margin-top: -3.8rem;
  }
  .img5 {
    min-width: 400px;
  } 
  .sec8 {
    margin-top: -2rem;
  }
  .sec10 {
    margin-top: -1.05vh;
  }
}

/* Large devices (desktops, 848px and up) */
@media (min-width: 848px) {
  .sec7 {
    margin-top: 1rem;
  }
  .sec10 {
    margin-top: -1.7vh;
  }
  .img1 {
    margin-top: 0;
  }
  .img2 {
    max-width: 420px;
    padding-right: 15px;
  }
  .img4 {
    margin-left: 18%;
  }  
  .img6 {
    max-width: 450px;
  }
  .block5 h2 {
    font-size: 2.6rem;
  }
  .block11 {
    margin-top: 2vh;
  }
  .block13 {
    padding-left: unset;
    right: -10%;
  }
  .block16 {
    margin-top: 1.5rem;
    padding-top: 3rem;
  }
}

@media (min-width: 800px) and (max-width: 991.98px) {
  .sec6 {
    margin-top: -4rem;
  }
  .sec8 {
    margin-top: -2.5rem;
  }
  .sec10 {
    margin-top: -1.36vh;
  }
  .block5 {
    margin-top: -7rem;
  }
  .block13 {
    padding-top: 5rem;
  }
  .block20 {
    margin-top: -3.75rem;
  }
  .img3 {
    margin-top: -5rem;
  }
  .img5 {
    width: 550px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .sec8 {
    margin-top: -3rem;
  }
  .sec11 {
    margin-bottom: 3.5rem;
  }
  .sec13 {
    padding-top: 3.5rem !important;
  }
  .img1 {
    margin-top: -6vh;
  }
  .img2 {
    max-width: 450px;
    padding-right: unset;
  }
  .img4 {
    margin-left: 30%;
  }
  .img5 {
    width: 560px;
  }
  .img6 {
    max-width: 530px;
  }
  .img8 {
    width: 720px;
    margin-left: 3.1rem;
  }
  .block4,
  .block5 {
    margin-top: unset;
  }
  .block5 h2 {
    font-size: 3.1rem;
  }
  .block7 {
    margin-top: -4vh;
  }
  .block11 {
    margin-top: 7vh;
  }
  .block13,
  .block14 {
    padding-left: unset;
  }
  .block13 h3 {
    padding-top: 4.5rem;
  }
  .block16 {
    margin-top: 3rem;
  }
  .block22 {
    margin-top: 0;
  }
}

@media (min-width: 1025px) {
  .sec10 {
    margin-top: -1.5vh;
  }
  .sec11 {
    margin-bottom: 4.25rem;
  }
  .sec13 {
    padding-top: 4.5rem !important;
  }
  .img1 {
    margin-top: -7vh;
  }
  .img3 {
    margin-top: 1vh;
  }
  .block5 {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .block14 {
    padding-left: unset;
  }
  .block20 {
    margin-top: -8vh;
  }
}

@media (min-width: 1153px) {
  .img1 {
    margin-top:  -11.5vh;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .img1 {
    margin-top: 1rem
  }
  .block5 {
    padding-right: 3rem;
    padding-left: 3rem; 
  }
  .img4 {
    margin-left: 32%;
  }
}

/* Extra large devices (large desktops, 1340px and up) */
@media (min-width: 1340px) {
  .block3 {
    margin-top: 1.5vh;
  }
  .block5 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .block5 h2 {
    font-weight: 600;
  }
  .block6 {
    margin-top: -6vh;
  }
  .block7 {
    margin-top: -10vh;
  }
  .img1 {
    margin-top: -2rem;
  }
  .img4 {
    display: -webkit-box;
    max-width: 320px;
    margin-left: 40%;
  }
  .sec8 {    
    margin-top: -3rem;
  }
  .container.sec9 .row, .h2-plus {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1440px) {
  .block20 {
    margin-top: -6vh;
  }
}

/* Animate on entrance */
.animate-in-down {
  transition: all 1.3s ease-out;
  position: relative;
  opacity: 1;
  top: 0px; }
  .animate-in-down.out-of-viewport {
    top: 40px;
    opacity: 0; }

.animate-in-left {
  transition: all 1.0s ease-out;
  position: relative;
  opacity: 1;
  left: 0%; }
  .animate-in-left.out-of-viewport {
    opacity: 0;
    left: -5%; }

.animate-in-right {
  transition: all 1.0s ease-out;
  position: relative;
  opacity: 1;
  left: -2%; }
  .animate-in-right.out-of-viewport {
    opacity: 0;
    left: 3%; }

.animate-in-right-woman {
  transition: all 1.0s ease-out;
  position: relative;
  opacity: 1;
  left: 0%; }
  .animate-in-right-woman.out-of-viewport {
    opacity: 0;
    left: -5%; 
  }
.animate-in-right-woman2 {
  transition: all 1.0s ease-out;
  position: relative;
  opacity: 1;
  left: -5%; }
  .animate-in-right-woman2.out-of-viewport {
    opacity: 0;
    left: -0; }